/* Modal.css */
.modelo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001; /* Ensure it appears above other content */
  }
  
  .modelo-content {
    position: relative;
  }
  
  .enlarged-image {
    width: 1200px;
    height: 700px;
  }

 
  